{% extends 'base.html.twig' %}
{% block title %}Assignatures{% endblock %}
{% block body %}
    <table>
        {% for subject in allSubjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.hoursWeek }}h</td>
                <td>{{ subject.course.name }} {{ subject.course.cicle }}</td>
            </tr>
        {% else %}
            <tr>
                <td>No hay resultados.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
