{% extends 'base.html.twig' %}
{% block title %}{{ edit ? 'Editar' : 'Afegir' }} Docent{% endblock %}
{% block sectiontitle %}{{ edit ? 'Editar' : 'Afegir' }} Docent{% endblock %}
{% block body %}

    <div class="row align-items-center justify-content-center gx-5">
        <div class="col-4">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col" id="">
                    {{ form_row(form.name, {'label': 'Nom'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.email, {'label': 'Email'}) }}
                </div>
            </div>            
            <div class="row">
                <div class="col" id="">
                    {{ form_row(form.password, {'label': 'Password'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col" id="">
                    {{ form_row(form.roles, {'label': 'Rol'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col" id="">
                    {{ form_row(form.teaching_hours, {'label': 'Hores disponibles'}) }}
                </div>
            </div> 
            <div class="row">
                <div class="col" id="">
                    {{ form_row(form.subjects, {'label': 'Assignatures'}) }}
                </div>
            </div>                        
            {{ form_row(form.submit, { 'label': edit ? 'Actualitzar' : 'Afegir' }) }}
            {{ form_end(form) }}
        </div>
        <div class="col-6">
            <img src="{{ asset('images/Teaching-amico.png') }}" alt="..." class="img-fluid">
        
        </div>
    </div>

{% endblock %}
