{% extends 'base.html.twig' %}
{% block title %}Docents{% endblock %}
{% block sectiontitle %}Docents{% endblock %}
{% block body %}
    <div class="card card-bleed shadow-light-lg">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                        Llista de Docents
                    </h4>

                </div>
                <div class="col-auto">

                    <!-- Button -->
                    <button class="btn btn-xs btn-primary">
                        <a class="text-decoration-none text-white" href="{{ path('app_addTeacher') }}">Afegir</a>
                    </button>

                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
            {% if allTeachers | length > 0 %}
                {% for teacher in allTeachers %}
                    {% if 'ROLE_USER' in teacher.roles %}
                        <li class="list-group-item">
                            <div class="row align-items-center text-secondary">
                                <div class="col-auto">{{ teacher.id }}</div>
                                <div class="col">{{ teacher.name }}</div>
                                <div class="col-auto">
                                    <a href="{{ path('app_detailTeacher', {id: teacher.id}) }}" class="text-decoration-none">
                                        <button class="col-auto btn btn-xs btn-info">
                                        Perfil
                                        </button>
                                    </a>
                                </div>  
                                <div class="col-auto">
                                    <a href="{{ path('app_deleteTeachers', {id: teacher.id}) }}" class="text-decoration-none">
                                        <button class="col-auto btn btn-xs btn-danger">
                                        Esborrar
                                        </button>
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <a href="{{ path('app_updateTeachers', {id: teacher.id}) }}" class="text-decoration-none">
                                        <button class="col-auto btn btn-xs btn-primary">
                                        Editar
                                        </button>
                                    </a>
                                </div>     
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    No n'hi han
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
