{% extends 'base.html.twig' %}
{% block title %}{{teacher.name}}{% endblock %}
{% block sectiontitle %}Docent{% endblock %}
{% block body %}
    <div class="card card-bleed shadow-light-lg">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <!-- Heading -->
                    <h4 class="mb-0">
                        {{ teacher.name }}
                    </h4>
                </div>

                <div class="col-auto">

                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">{{ teacher.email }}</div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="col-auto">
                        {% if 'ROLE_ADMIN' in teacher.getRoles %}
                            Admin
                        {% else %}
                            Usuari/a
                        {% endif %}                        
                        </div>
                    </div>                                
                </li>
            </ul>
        </div>
    </div> 

    <div class="card card-bleed shadow-light-lg mt-5">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <h4 class="mb-0">
                            Restriccions
                        </h4>
                    
                    </div>
                    <div class="col-auto">
                    
                        <!-- Button -->
                        <button class="btn btn-xs btn-primary">
                            <a class="text-decoration-none text-white" href="{{ path('app_addConstraint',{id: teacher.id }) }}">Afegir</a>
                        </button>
                    
                    </div>                    
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% if teacher.getTeacherConstraints | length > 0 %}
                        {% for key, constraint in teacher.getTeacherConstraints %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                    {% if constraint.dia == 'monday' %}
                                        Dilluns
                                    {% elseif constraint.dia == 'tuesday' %}
                                        Dimarts
                                    {% elseif constraint.dia == 'wednesday' %}
                                        Dimecres
                                    {% elseif constraint.dia == 'thursday' %}
                                        Dijous
                                    {% elseif constraint.dia == 'friday' %}
                                        Divendres
                                    {% endif %}
                                     de {{ date(constraint.hora_inici)| date('H') }} a {{ date(constraint.hora_fi)| date('H') }} </div>
                                    <div class="col-auto">
                                        <a href="{{ path('app_deleteConstraint',{id: teacher.id, idConstraint: key }) }}" class="text-decoration-none">
                                            <button class="col-auto btn btn-xs btn-danger">
                                            Esborrar
                                            </button>
                                        </a>
                                    </div>                                    
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No n'hi ha
                        </li>                        
                    {% endif %}                    
                </ul>
            </div>
        </div>     
{% endblock %}
