{% extends 'base.html.twig' %}
{% block title %}Cursos{% endblock %}
{% block sectiontitle %}Cursos{% endblock %}
{% block body %}
    <div class="card card-bleed shadow-light-lg">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">

                <!-- Heading -->
                <h4 class="mb-0">
                    Llista de Cursos
                </h4>

                </div>
                <div class="col-auto">

                <!-- Button -->
                <button class="btn btn-xs btn-primary">
                    <a class="text-decoration-none text-white" href="{{ path('app_addCourse') }}">Afegir</a>
                </button>

                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for course in allCourses %}
                    <li class="list-group-item">
                        <a class="text-decoration-none text-secondary" href="{{ course.id }}">
                        <div class="row align-items-center">
                            <div class="col-auto">{{ course.id }}</div>
                            <div class="col-auto">{{ course.name }} de {{ course.cicle == 'primary' ? 'primària' : 'secundària' }}</div>
                        </div>
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No n'hi ha
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}