{% extends 'base.html.twig' %}
{% block title %}Horari del curs {% endblock %}
{% set days = ['Dilluns', 'Dimarts', 'Dimecres', 'Dijous', 'Divendres'] %}
{% set timetable = ['08-09', '09-10', '10-11', '11-12', '12-13', '13-14'] %}
{% block body %}



<div class="container">
    {% for label, messages in app.flashes(['error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% if schedule|default %}

schedule
{{ dump(schedule) }}
raw
{{ dump(raw) }}
rawest
{{ dump(rawest) }}

{% for key, cicle in schedule %}

<h3>{{ key }}</h3>

    {% for key, course in cicle %}

    <h4>{{ key }}</h4>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-white">
                    <th class="text-uppercase">Hora
                    </th>
                    {% for day in days %}                    
                        <th class="text-uppercase">{{day}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="bg-white">
            {% for hour in timetable %}
                <tr>
                    
                    <td class="align-middle">{{ hour }}</td>

                    {% for day in days %}
                        {% set empty = true %}
                        {% for entry in course %}
                            {% if entry.day == day and entry.hour == hour %}
                            {% set empty = false %}
                        <td class="p-3">
                        {{entry.id}}
                            <div class="bg-secondary p-1 rounded mb-1 text-white">{{ entry.subject.name }} {{entry.subject.course.name}}</div>
                            <div class="text-secondary">{{ entry.teacher.name }}</div>                                
                            {% endif %}
                        </td>
                        {% endfor %}
                        {% if empty == true%} 
                        <td class="p-3 bg-light">
                            <div class="p-1 rounded mb-1 text-white">&nbsp;</div>
                            <div class="text-secondary">&nbsp;</div>                              
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}    
            </tbody>
        </table>
    </div>
    {% endfor %}
{% endfor %}
{% endif %}

</div>
{% endblock %}